h1.align  {
  text-align: center;
}
h2.align  {
  text-align: center;
}

img {
  float: right;
  margin-left: 20px;
}

.boxed-class {
  border: 2px solid green;
  padding: 10px;
  background-color: orange;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-family:'Times New Roman';
  font-weight: bold;
}
.center {
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
}
